body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.open-contact-modal-btn {
  display: block;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.open-book-modal-btn {
  display: block;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.get-book-btn {
  display: block;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

/* ----- Contact Modal(375px) ----- */

.backdrop-contact-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow-y: auto;
  padding: 64px 0;
  justify-content: center;
  box-sizing: border-box;
}

.window-is-invisible {
  display: none;
}

.contact-modal {
  width: 343px;
  min-height: 794px;
  /* min-height: auto; */
  border-radius: 16px;
  padding: 64px 16px;
  background-color: #fceee6;
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-close-btn {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  cursor: pointer;
}

.contact-modal-title {
  font-weight: 600;
  font-size: 48px;

  /* line-height: 58px; */
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0500;
  margin-bottom: 16px;
}

.contact-modal-text {
  font-weight: 400;
  font-size: 24px;

  /* line-height: 34px; */
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0500;
  margin-bottom: 48px;
}

.contact-modal-form {
  width: 311px;
}

.contact-modal-field {
  margin-bottom: 24px;
}

.modal-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #0b0500;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  background-color: rgba(11, 5, 0, 0.05);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  outline: transparent;
}

.modal-input::placeholder {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: rgba(11, 5, 0, 0.6);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid rgba(11, 5, 0, 0.15);
  background-color: rgba(11, 5, 0, 0.05);
}

.modal-textarea {
  height: 180px;
  padding: 12px;
  outline: transparent;
  resize: none;
}

.modal-textarea:focus {
  border: 1px solid rgba(11, 5, 0, 0.6);
}

.text-invalid {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 18px; */
  line-height: 1.5;
  color: #ad0000;
  display: none;
}

.modal-input:not(:placeholder-shown):invalid {
  border: 1px solid #ad0000;
  color: #ad0000;
}

.modal-input:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.modal-input:hover::placeholder,
.modal-input:focus::placeholder {
  opacity: 0;
}

/* .modal-input:active {
  background-color: rgba(11, 5, 0, 0.05);
} */

.contact-submit-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #e15d05;
  min-width: 311px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-submit-btn:hover,
.contact-submit-btn:focus {
  border: none;
  background-color: #0b0500;
}

.not-scrolling-page {
  overflow: hidden;
  height: 100vh;
}

/* ----- Book Modal(375 px) ----- */

.backdrop-book-modal {
  position: fixed;
  inset: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 9999;
}

.window-is-invisible {
  display: none;
}

.book-modal {
  width: 343px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 64px 16px;
  background-color: #fceee6;
  position: relative;
  margin: 0;
}

.book-modal-close-btn {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  cursor: pointer;
}

.book-container {
}

.book-img {
  display: flex;
  border-radius: 8px;
  width: 309px;
  height: 466px;
  margin-bottom: 24px;
}

.book-title {
  font-weight: 600;
  font-size: 40px;

  /* line-height: 48px; */
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0500;
  margin-bottom: 8px;
}

.book-author {
  font-weight: 400;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
  color: #0b0500;
  margin-bottom: 8px;
}

.book-price {
  font-weight: 400;
  font-size: 24px;

  /* line-height: 34px; */
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #0b0500;
  margin-bottom: 24px;
}

.form-quantity {
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.neg-book-btn {
  display: block;
  width: 32px;
  height: 40px;
  border: 1px solid #0b0500;
  border-radius: 4px;
  background-color: transparent;
  text-align: center;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #0b0500;
  cursor: pointer;
}

.neg-book-btn:hover,
.neg-book-btn:focus {
  background-color: #ea8d50;
}

.quantity-book {
  width: 42px;
  height: 40px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  padding: 8px 12px;
  background-color: rgba(11, 5, 0, 0.05);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  text-align: center;
  color: #0b0500;
}

.quantity-book::-webkit-inner-spin-button,
.quantity-book::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .quantity-book {
  -moz-appearance: textfield;
} */

.add-book-btn {
  display: block;
  width: 32px;
  height: 40px;
  border: 1px solid #0b0500;
  border-radius: 4px;
  background-color: transparent;
  text-align: center;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #0b0500;
  cursor: pointer;
}

.add-book-btn:hover,
.add-book-btn:focus {
  background-color: #ea8d50;
}

.add-to-cart-btn {
  display: block;
  margin-bottom: 24px;
  background-color: #e15d05;
  border-radius: 4px;
  padding: 12px 24px;
  width: 311px;
  height: 48px;
  border: none;
  text-align: center;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
}

.add-to-cart-btn:hover,
.add-to-cart-btn:focus {
  background-color: #0b0500;
}

.buy-now-btn {
  display: block;
  background-color: transparent;
  padding: 12px 24px;
  width: 311px;
  height: 48px;
  border: 1px solid #0b0500;
  border-radius: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #0b0500;
  margin-bottom: 32px;
  cursor: pointer;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #ea8d50;
}

.book-modal-list {
  list-style: none;
}

.book-modal-item {
  background: transparent;
  border-top: 1px solid rgba(11, 5, 0, 0.15);
  margin: 0;
}

.book-modal-item:last-child {
  border-bottom: 1px solid rgba(11, 5, 0, 0.15);
}

.book-modal-title {
  display: block;
}

.accordion-container {
}
.ac {
}
.ac-header {
}

.accordion-container .ac .ac-header {
  height: 59px;
  position: relative;
}

.accordion-container .ac .ac-header .ac-trigger {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 18px;

  /* line-height: 27px; */
  line-height: 1.5;
  color: #0b0500;
}

.accordion-container .ac .ac-header .ac-trigger::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.25s ease;
  background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.29297 14.2929L7.70697 15.7069L12 11.4139L16.293 15.7069L17.707 14.2929L12 8.58594L6.29297 14.2929Z' fill='%230B0500'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.accordion-container .ac.is-active .ac-header .ac-trigger::after {
  transform: translateY(-50%) rotate(180deg);
}

.ac-panel {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #0b0500;
  padding-bottom: 0;
  overflow: hidden;
}

.ac.is-active .ac-panel {
  padding-bottom: 28px;
}

.not-scrolling-page {
  overflow: hidden;
  height: 100vh;
}

/* ----- Tablet 768 px ----- */

@media screen and (min-width: 768px) {
  /* ----- Contact Modal ----- */

  .contact-modal {
    width: 704px;
    height: 760px;
    padding: 64px 32px;
  }

  .contact-modal-form {
    width: 640px;
  }

  .contact-submit-btn {
    min-width: 342px;
  }

  /* ----- Book Modal ----- */

  .backdrop-book-modal {
    padding: 191px 0;
  }

  .book-modal {
    width: 704px;
    padding: 64px 32px;
    display: flex;
    gap: 24px;
  }

  .quantity {
    margin-bottom: 24px;
  }
}

/* ----- Laptop 1440 px ----- */

@media screen and (min-width: 1440px) {
  /* ----- Contact Modal ----- */

  .contact-modal {
    width: 866px;
    padding: 64px;
  }

  .contact-modal-form {
    width: 738px;
  }

  /* ----- Book Modal ----- */

  .backdrop-book-modal {
    padding: 64px 0;
  }

  .book-modal {
    width: 1300px;
    padding: 64px;
  }

  .quantity {
    margin-bottom: 16px;
  }

  .add-to-cart-btn {
    margin: 0;
  }
  .buy-now-btn {
    margin: 0;
  }

  .move-book-btns {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
  }
}
