.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
}

.contact-modal {
  width: 343px;
  min-height: 794px;
  border-radius: 16px;
  padding: 64px 16px;
  background-color: #fceee6;
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
}
